# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio local files
.vs/
.vscode/
*.ipch
*.VC.db
*.opendb
*.user
*.sdf
*.opensdf
*.suo

# Visual Studio output directory
bin/
out/

# Visual Studio intermediate directory
obj/
